### Data Files

In [2]:
from SeekAPI import Authentication

auth = Authentication()
auth.login()

Username: bogdan
Password: ········

In [4]:
from SeekAPI import File

file = File(auth.getUsername(), auth.getPassword())
file.read('2')

In [5]:
file.printAttributes()

Excel sheet template : concentrations of intracellular metabolites (version: 1)

Excel sheet template : concentrations of intracellular metabolites
Content Blobs:
https://fairdomhub.org/data_files/2/content_blobs/66 - 75.776 KB

In [6]:
file.printRelationships()

Submitter: Olga Krebs
People: Katy Wolstencroft | Olga Krebs
Projects: 12 | 19
Investigations: 1
Studies: 1

In [34]:
file.download(file.content_blobs[0]['link'], file.content_blobs[0]['original_filename'])

File metabolites_intracellular.xls has been downloaded

In [37]:
import pandas

# pandas.read_excel(file.content_blobs[0]['original_filename'])
# file.printAttributes()
excel = pandas.ExcelFile(file.content_blobs[0]['original_filename'])

# for sheet in excel.sheet_names:
#     df = excel.parse(sheet)
#     df.head()
# excel.sheet_names
df = excel.parse('results')
df.head()

,Metabolite,pyruvate,Unnamed: 2,Unnamed: 3,succinate,Unnamed: 5,Unnamed: 6,fumarate,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,GTP,Unnamed: 53,Unnamed: 54,Unnamed: 55,IMP,Unnamed: 57,Unnamed: 58,trehalose
0,Comaprtment,NaN,int,NaN,NaN,int,NaN,NaN,int,NaN,...,int,NaN,NaN,int,NaN,NaN,int,NaN,NaN,int
1,Analytics/method,NaN,GC-MS,NaN,NaN,GC-MS,NaN,NaN,GC-MS,NaN,...,HPLC,NaN,NaN,HPLC,NaN,NaN,HPLC,NaN,NaN,e-assay
2,SOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,item_measured,time,concentration,NaN,time,concentration,NaN,time,concentration,NaN,...,concentration,NaN,time,concentration,NaN,time,concentration,NaN,time,concentration
4,Units,min,µmol/gDW,±SD,min,µmol/gDW,±SD,min,µmol/gDW,±SD,...,µmol/gDW,NaN,min,µmol/gDW,NaN,min,µmol/gDW,NaN,min,µmol/gDW